.bodyp {
    display: flex;
    justify-content: center; 
    align-content: center;
    align-items: center;
    padding:0;
    height: 100vh;
    width:55%;
    left: 0;
    float:left;
    background: url(coronaback.jpg);
    background-size: cover;

  }

 

.telematica{
   
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    align-items: center;
    width:100vw;
    height: 100vh;

}
.primero{
    display: flex;  
    flex-direction: column;
    height: 100vh;
    width: 45%;
    padding:0;
    background: whitesmoke;
    float: right;
    opacity: 0.95;
    
}

.ingresar{
            
    display: flex;
    margin-bottom: 5vh;
    font-family: 'Jost', sans-serif;


}
    .claseUno{
        justify-content: center;               
        display: flex;
        margin-top: 15vh;
        margin-bottom: 8vh;
        font-family: 'Jost', sans-serif;
        font-weight: bold;
    }
    
	.paper{
		margin-top: 1.5vh;
		display: 'flex';
		flex-direction: 'column';
        align-items: 'center';
        justify-content: center;
        height: 40vh;
        margin-left: 5vw;
        font-family: 'Roboto', sans-serif;
        margin-left: 5vw;
	}
    
    .MuiInput-root{
        width: 70%;
        margin-left: 5vw;
        
    }
    
    .MuiInput-underline{
        width: 70%;
        margin-bottom: 6vh;
        margin-left: 5vw;
    }
    
    .form {
		width: '50%';
        margin-top: 15vh;
        margin-left: 5vh;
        margin-top: 0vh;
        height:100%;

    }

    
	.submit {
        
        margin-bottom: 2vh;
        color: white;
        background: #89beba;
        width: 70%;
        height:5vh;
        border-radius: 8px;
        margin-left: 10vh;
        border: none;
        outline: none;
        font-family: 'Jost', sans-serif;
        font-size: 16px;
        font-weight: bold;
    }

    .submit:hover{
        transition: 0.5s;
        background-color:#7da5a2;
        cursor:pointer;
    }
    
	.submit2 {
        margin-bottom: 1vh;
        color: white;
        
        background:	#2db4aa;
        width: 70%;
        height:5vh;
        border-radius: 8px;
        margin-left: 10vh;
        border: none;
        outline: none;
        font-family: 'Jost', sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    
    .submit2:hover{
        transition: 0.5s;
        background-color: #29a098;
        cursor:pointer;
    }