html,
body,
.direccion {
  display: flex;
  margin-top: "5vh";
}

.tableClosed2 {
  width: 100%;
  margin-left: "100vw";
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border: 1px solid black;
  text-align: center;
}

tr:nth-child(even) {
  background-color: rgb(230, 234, 236);
}

.contenedorB {
  width: "70%";
  height: "10vh";
}
